<h3>
  {{ Leyenda }} - {{progreso}}

</h3>

<div class="input-group">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-primary" type="button"><i class="mdi mdi-minus" (click)="cambiarValor(-5)"></i></button>
    </div>

    <input type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChange($event)" min="1" max="100">

    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-primary" type="button"><i class="mdi mdi-plus" (click)="cambiarValor(+5)"></i></button>
    </div>
</div>